.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }
    .theselect{
        width: 87%;
        height: 50px;
        margin-left: 7%;
        border-radius: 5px;
        padding: 5px;
        font-size: 16px;
        color: #666;
        background-color: #fff;
        
        }
        .theselect::-ms-expand {
        display: none;
        }
        .theselect option {
        padding: 10px;
        }
        .theselect:focus {
        border-color: #66afe9;
        outline: none;
        box-shadow: 0 0 0 0.2rem rgba(102,175,233,0.25);
    }
    .theselect1{
        width: 100%;
    }
   
    .btn-dark:hover {
        color: #bbbaba; /* لون أغمق عند التمرير */
    }
